In [9]:
import pandas as pd
data=pd.read_csv('inflaiton_rateUS.csv')

In [10]:
new_data=data.melt(id_vars=["YEAR"], 
        var_name="Date", 
        value_name="Value")

In [11]:
d = {'JAN':1, 'FEB':2, 'MAR':3, 'APR':4, 'MAY':5, 'JUN':6, 'JUL':7, 'AUG':8, 'SEP':9, 'OCT':10, 'NOV':11, 'DEC':12}
new_data.Date = new_data.Date.map(d)
new_data['full_date']=pd.to_datetime(new_data.YEAR.astype(str) + '/' + new_data.Date.astype(str) + '/01')
del new_data['YEAR']
del new_data['Date']

In [12]:
new_data.rename(columns = {'Value':'Inflation_Rate', 'full_date':'Date'}, inplace = True)
df1=new_data.dropna()

In [13]:
df1

     Inflation_Rate       Date
0               2.9 2012-01-01
1               1.6 2013-01-01
2               1.6 2014-01-01
3              -0.1 2015-01-01
4               1.4 2016-01-01
..              ...        ...
126             2.1 2017-12-01
127             1.9 2018-12-01
128             2.3 2019-12-01
129             1.4 2020-12-01
130             7.0 2021-12-01

[122 rows x 2 columns]